    <div id="footer">
      <div class="footer-inner d-flex flex-column-reverse d-md-flex flex-md-row">
        <div class="footer-left col-12 col-md-6">
          <div class="footer-logo">
            <img src="/src/assets/img/icon/white-full-logo.png" alt="logo" />
          </div>
          <div class="footer-info">
            <ul class="footer-link">
              <li><a href="/about/summary.html">회사소개</a></li>
              <li><a href="/business/anomix.html">솔루션</a></li>
              <li><a href="/recruitment/recruitment.html">인재채용</a></li>
              <li><a href="/contact/contact.html">Contact Us</a></li>
            </ul>
            <div class="footer-info-item">
              <span class="sub">서울 영등포구 국회대로 632, 1306호<br class="d-block d-md-none" />(영등포동 7가, 케이엘케이유윈시티)</span>
              <br />
              <span class="title">전화번호.</span>
              <span class="sub">02-6953-4490</span>
              <span class="title ms-4">팩스.</span>
              <span class="sub">02-786-4490</span>
            </div>
            <div class="footer-copyright">
              <span>Copyright© NEXTORY Co.,Ltd. All Rights Reserved.</span>
            </div>
          </div>
        </div>
        <div class="footer-right col-12 col-md-6">
          <div class="copyright">
            <div>for the next story</div>
            <div>혁신적인 기술과 고객 중심의 서비스 기업<br />(주)네스토리</div>
          </div>
          <div class="pdf-container">
            <button>
              <a id="download-link" href="">
                <span>회사소개서</span>
                <img src="/src/assets/img/icon/download.png" alt="image" />
              </a>
            </button>
          </div>
        </div>
        <div id="footer-navigation" class="footer-navigation">
          <button>PAGETOP</button>
        </div>
      </div>
    </div>
