    <div id="header">
      <div id="header-inner" class="header-inner">
        <div class="header-contents">
          <div class="logo">
            <a href="/index.html">
              <img class="white-logo" src="/src/assets/img/icon/white-full-logo.png" alt="logo" />
              <img class="color-logo" src="/src/assets/img/icon/color-full-logo.png" alt="logo" />
            </a>
          </div>
          <nav class="nav d-none d-md-block">
            <ul class="depth1">
              <li class="menu-item has-submenu">
                <!-- li 에 이벤트 -->
                <a href="/about/summary.html">회사소개</a>
                <ul class="depth2">
                  <li>
                    <a href="/about/summary.html">회사개요</a>
                  </li>
                  <li>
                    <a href="/about/history.html">연혁</a>
                  </li>
                  <li>
                    <a href="/about/certification.html">인증/특허</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item has-submenu solution-menu">
                <a href="/business/anomix.html">솔루션</a>
                <ul class="depth2">
                  <li class="submenu-group">
                    <span>웹보안</span>
                    <a href="/business/anomix.html">AnomixAI</a>
                    <a href="/business/botfender.html">BotfenderAI</a>
                  </li>
                  <li class="submenu-group">
                    <span>보안 관리</span>
                    <a href="/business/v-vms.html">NX VMS</a>
                    <a href="/business/pentraflow.html">PentraFlow</a>
                  </li>
                  <li class="submenu-group">
                    <span>개발 통합 관리</span>
                    <a href="/business/ax-builder.html">AX Builder</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="/contact/partner.html">파트너</a>
              </li>
              <li class="menu-item has-submenu">
                <a href="/recruitment/recruitment.html">인재채용</a>
                <ul class="depth2">
                  <li>
                    <a href="/recruitment/recruitment.html">인재상</a>
                  </li>
                  <li>
                    <a href="#" onclick="redirectRecruitment(event, 'benefits')">복리후생</a>
                  </li>
                  <li>
                    <a href="#" onclick="redirectRecruitment(event, 'info')">채용정보</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item has-submenu">
                <a href="/contact/contact.html">Contact Us</a>
                <ul class="depth2">
                  <li>
                    <a href="/contact/contact.html">문의하기</a>
                  </li>
                  <li>
                    <a href="/contact/location.html">오시는 길</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div id="menu-btn" class="menu-btn">
            <button>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div id="header-menu" class="header-menu">
        <nav class="nav">
          <ul class="depth1">
            <li class="d-block d-md-flex">
              <a href="/about/summary.html">회사소개</a>
              <ul class="depth2 d-md-flex">
                <li>
                  <a href="/about/summary.html">회사개요</a>
                </li>
                <li>
                  <a href="/about/history.html">연혁</a>
                </li>
                <li>
                  <a href="/about/certification.html">인증/특허</a>
                </li>
              </ul>
            </li>
            <li class="d-block d-md-flex">
              <a href="/business/anomix.html">솔루션</a>
              <ul class="depth2 solution-depth2 d-md-flex">
                <li class="submenu-group">
                  <span>웹보안</span>
                  <a href="/business/anomix.html">AnomixAI</a>
                  <a href="/business/botfender.html">BotfenderAI</a>
                </li>
                <li class="submenu-group">
                  <span>보안 관리</span>
                  <a href="/business/v-vms.html">NX VMS</a>
                  <a href="/business/pentraflow.html">PentraFlow</a>
                </li>
                <li class="submenu-group">
                  <span>개발 통합 관리</span>
                  <a href="/business/ax-builder.html">AX Builder</a>
                </li>
              </ul>
            </li>
            <li class="d-block d-md-flex">
              <a href="/contact/partner.html">파트너</a>
            </li>
            <li class="d-block d-md-flex">
              <a href="/recruitment/recruitment.html">인재채용</a>
              <ul class="depth2 d-md-flex">
                <li>
                  <a href="/recruitment/recruitment.html">인재상</a>
                </li>
                <li>
                  <a href="#" onclick="redirectRecruitment(event, 'benefits')">복리후생</a>
                </li>
                <li>
                  <a href="#" onclick="redirectRecruitment(event, 'info')">채용정보</a>
                </li>
              </ul>
            </li>
            <li class="d-block d-md-flex">
              <a href="/contact/contact.html">Contact Us</a>
              <ul class="depth2 d-md-flex">
                <li>
                  <a href="/contact/contact.html">문의하기</a>
                </li>
                <li>
                  <a href="/contact/location.html">오시는 길</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
