.section-1 {
  .banner-img {
    > img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  .sticky-box {

    > div {
      top: 0;
      transition: all 0.5s ease-in-out;
      height: calc(100vh - 350px);

      &.sticky {
        transform: translateY(100px);
      }

      .title {
        font-size: 3rem;
        color: #fff;
      }

      .sub {
        font-size: 1.5rem;
        color: #aaa;
      }

      .img {
        border-radius: 30px;
        img {
          width: 100%;
        }
      }
    }
  }

  .card-list {

    > li {
      width: 100%;
      display: flex;
      align-items: center;

      .no {
        font-size: 1.5rem;
        width: 80px;
        color: #fff;

        &.color {
          color: #fac001;
        }
      }

      .icon {
        width: 30px;
        position: relative;
        padding: 100px 0;

        .circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #aaa;
          margin: auto;

          &.color {
            background-color: #fac001;
          }
        }

        &.last {
          &::before {
            height: 50%;
          }
        }

        &::before{ 
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: 100%;
          background-color: #aaa;
          z-index: -1;
        }
      }

      .desc {
        font-size: 1.4rem;
        color: #fff;
        width: calc(100% - 160px);
        padding-left: 40px;

        &.color {
          color: #fac001;
        }
      }
    }
  }
}
