.section-1 {
  .img-cont {
    width: 100%;
    overflow: hidden;

    > img {
      width: 100%;
    }
  }
}

.section-2 {
  margin-top: 10rem;

  > .title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
    font-weight: 500;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;

    .item {
      .title {
        font-size: 1.2rem;
        color: #fff;
        margin-top: 1rem;
      }

      .sub-title {
        font-size: 1.1rem;
        color: #fff;
        margin-top: 1rem;
      }

      .desc {
        font-size: 1rem;
        color: #fff;
        margin-top: 1rem;
      }
    }
  }
}

.section-3 {
  margin-top: 10rem;

  > .title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
    font-weight: 500;
  }

  .recruit-flow {
    > ul {
      display: flex;
      justify-content: center;
      padding: 40px;

      > li {
        width: 210px;
        margin: 0 -9px;
        height: 210px;
        border-radius: 50%;
        background-color: rgba($color: #141e2f, $alpha: 0.8);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:last-of-type {
          background-color: #2478d7;
        }

        > .title {
          font-size: 1rem;
          color: #2478d7;

          &.white {
            color: #fff;
          }
        }

        > .sub {
          font-size: 1.2rem;
          color: #fff;
          margin-top: 1rem;
        }
      }
    }
  }
}

.section-4 {
  margin-top: 10rem;

  > .title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
  }

  .benefits-list {
    color: #fff;
    column-gap: 2rem;
    row-gap: 3rem;

    > li {
      background-color: #232933;
      width: calc(50% - 1rem);

      &:nth-of-type(odd) {
        border-left: 0;
      }

      &:nth-of-type(even) {
        border-right: 0;
      }

      .img-cont {
        max-width: 120px;

        > img {
          width: 100%;
        }
      }

      .title {
        font-size: 1.2rem;
        color: #fff;
      }

      .desc {
        margin-top: 2rem;
        color: #fff;
        list-style: disc;
        padding-left: 1rem;
      }
    }
  }
}

.section-5 {
  margin-top: 10rem;

  > .title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
  }

  .text-box-list {
    .info {
      border: 1px solid #44546a;
      flex: 9 1 100px;
      display: flex;
      justify-content: space-around;
      padding: 3.5rem 1rem;

      .img-cont {
        max-width: 80px;

        > img {
          width: 100%;
        }
      }

      .title {
        font-size: 1rem;
        color: #aaa;
      }

      .sub {
        font-size: 1rem;
        color: #fff;
        margin-top: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-1 {
    padding-top: 5rem;
  }

  .section-2 {
    .list {
      .item {
        .title {
          font-size: 2.5rem;
        }
        .sub-title {
          font-size: 1.3rem;
        }
        .desc {
          font-size: 1.1rem;
        }
      }
    }
  }

  .section-3 {
    .recruit-flow {
      > ul {
        padding: 40px 10px;
        
        > li {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .section-4 {
    .benefits-list {
      gap: 1rem 2rem;

      > li {
        width: 100%;

        .title {
          font-size: 1.5rem;
        }

        .desc {
          font-size: 1.3rem;
        }
      }
    }
  }

  .section-5 {
    .text-box-list {
      .info {
        padding: 3.5rem;

        .title {
          font-size: 1.3rem;
        }

        .sub {
          font-size: 1.5rem;
        }
      }
    }
  }
}
